@model LogInsight.Web.Models.LogData

@{
    ViewBag.Title = "View";

    double kb = Model.FileSize / 1024;
}

<div class="dash-container">
    <div class="text-center mb-5">
        <h3>Event Alerts</h3>
        <p class="lead">
            All alerts in @System.Configuration.ConfigurationManager.AppSettings["AppName"] (@Model.FileSize bytes)
        </p>
    </div>

    <div class="row g-4 ml-5 justify-content-center">
        <div class="col-md-4 col-lg-4">
            <div class="card h-100 bg-danger-subtle shadow">
                <div class="card-body">
                    <h2 class="card-title d-flex align-items-center gap-2 h5 mb-3">
                        <i class="bi bi-radioactive"></i> <strong>ERROR</strong>
                    </h2>
                    <p class="card-text">Total Event: @Model.countList[2].Count</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card h-100 bg-warning-subtle shadow">
                <div class="card-body">
                    <h2 class="card-title d-flex align-items-center gap-2 h5 mb-3">
                        <i class="bi bi-exclamation-triangle"></i> <strong>WARNING</strong>
                    </h2>
                    <p class="card-text">Total Event: @Model.countList[1].Count</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card h-100 bg-primary-subtle shadow">
                <div class="card-body">
                    <h2 class="card-title d-flex align-items-center gap-2 h5 mb-3">
                        <i class="bi bi-info-circle-fill"></i> <strong>INFORMATION</strong>
                    </h2>
                    <p class="card-text">Total Event: @Model.countList[0].Count</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="m-4" />

    <div class="g-4 ml-5 justify-content-center">

    </div>
</div>

