<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Insight</title>
    <link href="~/Content/imgs/activity.svg" rel="icon" type="image/x-icon" />
    <link href="~/Content/fonts/Gidole-Regular.ttf" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><i class="bi bi-activity h4"></i></a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Logview")">LogView</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a href="#"><i class="bi bi-arrow-clockwise"></i></a>
                </span>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content d-flex flex-column">
        @RenderBody()
    </div>

    <footer class="py-1 m-1">
        <div class="container text-center">
            &copy; @DateTime.Now.Year Log Insight
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
